.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
    max-width: 1100px;
    margin: 0 auto;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid #000;
    font-size: 18px;
    color: #000;
}

.header__link_active {
    border-bottom: none;
}

.header__logo {
    justify-self: center;
    width: 148px;
}

.header__logo-link {
    width: 100%;
    height: auto;
    display: block;
}

.header address {
    justify-self: end;
    font-style: normal;
    font-size: 18px;
    line-height: 1.35;
    max-width: 240px;
}

.header address a {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.cover {
    position: relative;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    color: #FFF;
    padding: 165px 50px 50px;
    max-width: 1100px;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__tilte {
    position: relative;
    z-index: 1;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.15;
    letter-spacing: 30px;
    margin-bottom: 135px;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
    margin: 20px 0;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    border: 1px solid #FFF;
    background: transparent;
    color: #FFF;
    padding: 12px 32px;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
}

.lots {
    padding: 180px 50px;
    max-width: 1100px;
    margin: 0 auto;
}

.lots__heading {
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
}

.lots__card-list-item {
    flex: 1;
    min-height: 450px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #FFF;
}

.card {
    position: relative;
    height: 100%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    position: relative;
    z-index: 1;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 1.2;
}

.card__text {
    position: relative;
    z-index: 1;
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    padding: 0 50px 180px;
    max-width: 1100px;
    margin: 0 auto;
}

.about__logo {
    width: 240px;
    height: 240px;
    background: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    margin: 100px 0;
}

.about__text {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: start;
    padding: 0 50px 90px;
    max-width: 1100px;
    margin: 0 auto;
}

.footer__address {
    font-style: normal;
    font-size: 18px;
    line-height: 1.35;
    max-width: 240px;
}

.footer__address a {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: 1px solid #000;
    font-size: 18px;
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-self: end;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

.bet-button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.header__link:hover,
.footer__menu-link:hover,
.lots__look-more-link:hover {
    opacity: 0.7;
}

.card-link:hover .card__title {
    text-decoration: none;
}
