.header {
    width: 1100px;
    margin: 0 auto;
    height: 293px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding-top: 40px;
}

.header__menu {
    font-family: "Raleway", sans-serif;
}

.header__links-list {
    list-style: none;
    display: flex;
    gap: 25px;
}

.header__link {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.header__link_active {
    border-bottom: 1px solid #000;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__address {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 18px;
    text-align: right;
}

.header__address a,
.header__address p {
    color: #000;
    text-decoration: none;
}

.cover {
    width: 1100px;
    height: 757px;
    margin: 0 auto;
    position: relative;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
}

.cover::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.cover__titlte {
    position: absolute;
    top: 165px;
    left: 50px;
    width: 1000px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 100px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.15;
    letter-spacing: 0.3em;
}

.aligned-text_left {
    display: block;
}

.aligned-text_center {
    position: absolute;
    top: 135px;
    left: 380px;
}

.aligned-text_right {
    position: absolute;
    top: 270px;
    left: 660px;
}

.cover__description {
    position: absolute;
    bottom: 50px;
    width: 1000px;
    left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.9em;
    font-family: "Raleway", sans-serif;
}

.bet-button {
    width: 256px;
    height: 51px;
    background: transparent;
    border: 1px solid white;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.lots {
    padding: 180px 50px;
    max-width: 1100px;
    margin: 0 auto;
}

.lots__heading {
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
}

.lots__card-list-item {
    flex: 1;
    min-height: 563px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #FFF;
}

.card {
    position: relative;
    height: 100%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-size: cover;
    background-position: center;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 1.2;
    text-underline-offset: 3px;
    margin: 0 0 20px 0;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    padding: 0 50px 180px;
    max-width: 1100px;
    margin: 0 auto;
}

.about__logo {
    width: 240px;
    height: 240px;
    background: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    margin: 100px 0;
}

.about__text {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: start;
    padding: 0 50px 90px;
    max-width: 1100px;
    margin: 0 auto;
}

.footer__address {
    font-style: normal;
    font-size: 18px;
    line-height: 1.35;
    max-width: 240px;
}

.footer__address a {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: 1px solid #000;
    font-size: 18px;
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-self: end;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

.bet-button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.header__link:hover,
.footer__menu-link:hover,
.lots__look-more-link:hover {
    opacity: 0.7;
}

.card-link:hover .card__title {
    text-decoration: none;
}
