/*изменил grid, flex, z-index position i paddingi
Classi toze izmenil bili konflikti s html oshibki po pixelam toze ubral*/
.header {
     display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  padding: 92px 50px 96px;
}

.header__logo {
    padding-right: 165px;
}

.header__logo-image {
    display: block;
    width: 148px;
    height: 105px;
}

.header__links-list {
   display: flex;
   gap: 30px;
   margin: 0;
   padding: 0;
   list-style: circle;
   padding-left: 50px;
}

.header__link {
    text-decoration: none;
    text-underline-offset: 4px;
}

.header__link_active {
    text-decoration: underline;
}

.header__address {
   max-width: 240px;
   justify-self: end;
   display: flex;
   flex-direction: column;
   gap: 4px;
   font-style: normal;
   text-align: left;
   padding-right: 50px
}

.header__address a, .header__address p {
    display: block;
    letter-spacing: 1px;
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 757px;
    background-image: url('../images/cover.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.cover .overlay {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    inset: 0;
    z-index: 1;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin: 165px 50px 0;
    z-index: 2;
    text-transform: uppercase;
    color: white;
    font-family: Raleway, Arial, sans-serif;
    font-weight: bold;
    font-size: 100px;
    letter-spacing: 30px;
}

.aligned-text_left {
    align-self: flex-start;
    padding-left: 40px;
}

.aligned-text_center {
    align-self: center;
    padding-left: 22px;
}

.aligned-text_right {
    align-self: flex-end;
    padding-left: 650px;
}

.cover__description {
    display: flex;
    margin-top: 105px;
    font-family: Raleway, Arial, sans-serif;
    color: white;
    text-transform: uppercase;
    z-index: 2;
}

.cover__description-text {
    font-size: larger;
    word-spacing: 17px;
    letter-spacing: 2px;
    padding-right: 107px;
    white-space: nowrap;
    align-self: center;
}

.bet-button {
    width: 256px;
    height: 51px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 12px 32px;
    cursor: pointer;
    align-self: center;
}

.lots {
    position: relative;
    margin: 180px 24px 120px;
    max-width: 1052px;
}

.lots__heading {
    font-family: Raleway, Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 40px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 334px);
    list-style: none;
    gap: 25px;
    padding: 27px 0 30px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 334px;
    min-height: 596px;
    font-family: Raleway, Arial, sans-serif;
    color: white;
    position: relative;
    background-size: cover;
    background-position: center;
}

.card .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
}

.card__title {
    padding: 48px 40px 0 40px;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 2;
}

.card__text {
    padding: 0 40px 48px 40px;
    font-size: 20px;
    z-index: 2;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.lots__look-more-link {
    padding-left: 40px;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.about {
    margin: 120px 24px 160px;
    max-width: 1052px;
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 26px;
}

.about__logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0 320px 47px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    align-items: center
}

.about__title {
    font-family: Raleway, Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    margin: 136px 400px 100px 0;
}

.about__text {
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 24px;
    overflow-wrap: break-word;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-items: center;
    margin-bottom: 82px;
}

.footer__address {
    padding-top: 5px;
    padding-right: 25px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    list-style: none;
    padding-top: 5px;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    width: 240px;
    gap: 48px;
    list-style: none;
    margin-left: 20px;
    margin-top: 1px;
}
